JWT_SECRET_KEY=
PORT = 
APP_URL=

# Database Keys
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_SYNCHRONIZE=
MIGRATIONS=
MIGRATIONS_RUN=

# Pusher Keys
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=

# Stripe Keys
STRIPE_SECRET_KEY=
STRIPE_PUBLISHABLE_KEY=
STRIPE_WEBHOOK_SECRET=

# Green API (WhatsApp)
GREEN_API_URL=
GREEN_API_ID_INSTANCE=
GREEN_API_TOKEN_INSTANCE=
GREEN_API_ENABLED=false
GREEN_API_COUNTRY_CODE=963