JWT_SECRET_KEY=
PORT = 

# Database Keys
MYSQL_HOST=
MYSQL_PORT=
MYSQL_USERNAME=
MYSQL_PASSWORD=
MYSQL_DATABASE=
MYSQL_SYNCHRONIZE=
MIGRATIONS=
MIGRATIONS_RUN=

# Pusher Keys
PUSHER_APP_ID=
PUSHER_KEY=
PUSHER_SECRET=
PUSHER_CLUSTER=
